<%= form_for @purchase, url: yield(:path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :plan_id %>

  <div class="form-group">
    <%= f.label :item %>
    <%= f.text_field :item, placeholder: " Stinky cheese", class: 'form-control' %>
  </div>

  <%= f.label :price %>
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <%= f.text_field :price, placeholder: "6.78", class: 'form-control' %>
  </div><br>

  <div class="form-group">
    <%= f.label :note %>
    <%= f.text_area :note, placeholder: "Let's try to buy this only once per month because, you know, it stinks.", class: "form-control" %>
  </div>

  <div>
    <% if Tag.any? %>
      <%= f.label "Select a tag..." %><br>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
        <%= b.label class: "checkbox-inline" do %>
          <%= b.check_box + b.text unless b.text.empty?%>
        <% end %>
      <% end %>
    <% end %>
  </div><br>

  <div class="form-group">
    <%= f.label "Create a tag for your purchase:" %>
    <%= f.fields_for :tags, @purchase.tags.build do |tags_fields| %>
      <%= tags_fields.text_field :name, placeholder: "e.g. groceries", class: "form-control" %>
    <% end %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
