<div class="header center">
  <h2><%= number_to_currency(@purchase.money_available) %> left for <%= @purchase.item %></h2>
  <small><%= link_to "edit", edit_plan_purchase_path %></small>

  <p>Note: <%= @purchase.note %></p>

  <% if @purchase.tags.any? %>
    <% @purchase.tags.each do |tag| %>
      <span class="label label-info"><%= tag.name %></span>
    <% end %>
  <% end %>
</div>

<div class="center button">
  <%= link_to "Add a payment", new_purchase_payment_path(@purchase), class: 'btn btn-primary' %>
</div><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @purchase.payments.any? %>
      <h3>Payments (<%= @purchase.payments.count %>)</h3>
      <ol class="items">
        <%= render @payments %>
      </ol>
    <% end %>
  </div>
</div>
