<div class="header center">
  <h1><%= date_of @plan %></h1>
  <h4>Income still available: <strong><%= number_to_currency(@plan.income) %></strong></h4>
  <small><%= link_to "Edit income", edit_plan_path %></small>
</div>

<div class="center">
  <%= link_to "Add purchase to plan", new_plan_purchase_path(@plan), class: "btn btn-primary" %>
</div><br>

<h2>Planned purchases</h2>
<% @plan.purchases.each do |purchase| %>
  <h4><%= number_to_currency(purchase.price.to_f) %> | <%= link_to purchase.item, plan_purchase_path(@plan, purchase) %></h4>
<% end %>
