<div class="header center">
  <h1><%= date_of @plan %></h1>
  <h4>Income still available: <strong><%= number_to_currency(@plan.income_available) %></strong></h4>
  <small><%= link_to "Edit income", edit_plan_path %></small>
</div>

<div class="center button">
  <%= link_to "Add purchase to plan", new_plan_purchase_path(@plan), class: "btn btn-primary" %>
</div><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @plan.purchases_pending.any? %>
      <h3>Your planned purchases include...</h3>
      <ol class="items">
        <%= render @purchases_pending %>
      </ol>
    <% end %>

    <% if @plan.purchases_paid_for.any? %>
      <h3>Purchases all paid for...</h3>
      <ol class="items">
        <%= render @purchases_paid %>
      </ol>
    <% end %>
  </div>
</div>
