<div class="header center">
  <h1><%= date_of @plan %></h1>
  <h4>Income still available: <strong><%= number_to_currency(@plan.income_available) %></strong></h4>
  <small><%= link_to "Edit income", edit_plan_path %></small>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-default js-previous" data-toggle="modal" data-target="#myModal" data-id="<%= @plan.id %>">
  Previous plans
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary js-pager" data-id="<%= @plan.id %>" data-past-plans-ids="<%= past_plans_ids %>">Previous</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="center button">
  <%= link_to "Add purchase to plan", new_plan_purchase_path(@plan), class: "btn btn-primary" %>
</div><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @plan.purchases_pending.any? %>
      <h3>Your planned purchases include...</h3>
      <ol class="items">
        <%= render @purchases_pending %>
      </ol>
    <% end %>

    <% if @plan.purchases_paid_for.any? %>
      <h3>Purchases paid for...</h3>
      <ol class="items">
        <%= render @purchases_paid %>
      </ol>
    <% end %>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
  function prettifyMonth(date) {
    var rawDate = new Date(date);
    var month = [];
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";

    return month[rawDate.getMonth()];
  }

  $(".js-previous").on("click", function() {
    var nextId = parseInt($(".js-previous").attr("data-id")) - 1;
    var numberOfPastPlans = parseInt($(".js-pager").attr("data-count")) - 1;
    $.get("/plans/" + nextId + ".json", function(data) {
      $(".modal-title").text(`In ${prettifyMonth(data["date"])} you budgeted...`);

      var purchases = data["purchases"];
      var purchasesString = "";
      $.each(purchases, function(i, purchase) {
        purchasesString += `<p data-paymentid="${purchase["id"]}">` + "$" + `${purchase["price"]} ` + "for " + `${purchase["item"]} ` + "</p>";
      });
      $(".modal-body").html(purchasesString);
      console.log(nextId, numberOfPastPlans)
    });
    $(".js-pager").on("click", function() {
      if (numberOfPastPlans === 0) {
        $("#myModal").modal('hide');
        numberOfPastPlans = parseInt($("js-pager").attr("data-count"))
      } else {
        numberOfPastPlans--;
        nextId--;
        $.get("/plans/" + nextId + ".json", function(data) {
          $(".modal-title").text(`In ${prettifyMonth(data["date"])} you budgeted...`);
          var purchases = data["purchases"];
          var purchasesString = "";
          $.each(purchases, function(i, purchase) {
            purchasesString += `<p data-paymentid="${purchase["id"]}">` + "$" + `${purchase["price"]} ` + "for " + `${purchase["item"]} ` + "</p>";
          });
          $(".modal-body").html(purchasesString);
        });
        console.log(nextId, numberOfPastPlans)
      }
    });
  });
});
</script>
