<header class="navbar navbar-fixed-top">
  <div class="container">
    <% if !logged_in? %>
      <%= link_to "Deliberate Finances App", root_path, id: "logo" %>
    <% else %>
      <%= link_to "Deliberate Finances App", current_user.current_plan, id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "This month", current_user.current_plan %></li>
          <li><%= link_to "Plans", plans_path %></li>
          <li><%= link_to "My account", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
